<% layout("/layout/biolerplate.ejs")-%>

  <div class="bg-yellow-100">
    <h3 class="font-sans font-semibold text-wrap text-center text-3xl">Update Your Data</h3>
    <form class="px-3" novalidate method="POST" action="/listings/<%= listing_info._id %>?_method=PUT"
      class="needs-validation m-2 Create_New_Listing_form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="text-2xl text-cyan-950 font-semibold" for="title">Title</label>
        <input class="form-control" type="text" value="<%= listing_info.title %>" name="title" required />
      </div>

      <div class="mb-3">
        <label class="text-2xl text-cyan-950 font-semibold text-wrap" for="description">Description</label>
        <textarea class="form-control" placeholder="Enter Your description" rows="4" name="description">
<%= listing_info.description %>
</textarea>

        <div class="mb-3">
          <label class="text-2xl text-cyan-950 font-semibold" for="image">Image </label>
          <!-- <img class="img" style="width: 100px; height: 100px; border-radius: 10px;" src="<%= listing_info.image.Url %>" -->
          <!-- alt=""> -->
          <!-- <input class="form-control" type="file" value="<%= listing_info.image %>" name="image" required /> -->
          <div class="mb-3">
            <input type="file" id="img" name="image" accept="image/*" />
          </div>
        </div>

        <div class="mb-3">
          <label class="text-2xl text-cyan-950 font-semibold" for="price">Price</label>
          <input class="form-control" type="number" value="<%= listing_info.price %>" name="price" required />

        </div>

        <div class="mb-3">
          <label class="text-2xl text-cyan-950 font-semibold" for="location">Location</label>
          <input class="form-control" type="text" value="<%= listing_info.location %>" name="location" required />


          <div class="mb-3">
            <label class="text-2xl text-cyan-950 font-semibold" for="country">Country</label>
            <input class="form-control" type="text" value="<%= listing_info.country %>" name="country" required />

          </div>

          <button class="btn btn-primary justify-center rounded-full" type="submit" id="Edit_data">
            Save changes
          </button>
    </form>
  </div>
  <script src="/javascripts/validationform.js"></script>