<%- layout("/layout/biolerplate.ejs") %>

    <!-- Flash Messages -->
    <% if (success && success.length> 0) { %>
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
            <% if (error && error.length> 0) { %>
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    <%= error %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>

                    <!-- Navbar -->

                    <!-- Listings Section -->
                    <div id="cardmain" class="bg-gray-100 flex flex-wrap gap-4 p-3  scroll-smooth px-3 py-4">
                        <div class="flex flex-wrap h-full justify-center gap-4">
                            <% for (const Listing of data) { %>
                                <a href="/listings/<%= Listing._id %>"
                                    class="block rounded-lg shadow-lg overflow-hidden"
                                    style="height: 26.5rem; width: 23rem;">
                                    <div class="relative">
                                        <img src="<%= Listing.image.Url %>" class="w-full  object-cover" loading="lazy"
                                            alt="image" style="height:17.3rem ;">
                                        <!-- Indicator for Sell -->
                                        <% if (Listing.typeofhouse=="sell" ) { %>
                                            <p class="absolute top-2 right-2 bg-red-600 text-white px-2 py-1 rounded">
                                                Sell</p>
                                            <% } %>
                                    </div>
                                    <div class="p-1 px-2 py-2 bg-zinc-200 h-full w-full">
                                        <!-- Price Calculation -->
                                        <% let bestPrice; if (Listing.price> 2000) {
                                            bestPrice = Listing.price - 2000;
                                            } else {
                                            bestPrice = Listing.price - 100;
                                            } %>
                                            <p class="text-black text-xl font-bold mb-1">
                                                <!-- Listing Type -->
                                                <% if (Listing.typeofhouse=="sell" ) { %>
                                                    <%= Listing.price %>
                                                        <% } else { %>
                                                            <% if (currentUsser && currentUsser.discountCode &&
                                                                !currentUsser.discountUsed) { %>
                                                                <%= Math.trunc((Listing.price / 2)) %>&#8377;
                                                                    <span class="text-sm text-gray-500 inline-block"
                                                                        style="margin: -8px;">/Night</span>
                                                                    <% } else { %>
                                                                        <%= bestPrice %>&#8377;
                                                                            <span
                                                                                class="text-sm text-gray-500 inline-block"
                                                                                style="margin: -7px;">/Night</span>
                                                                            <span
                                                                                class="text-gray-500 items-end px-10 line-through text-lg font-normal justify-end inline-block">
                                                                                <span>
                                                                                    <%= Listing.price %>
                                                                                        &#8377;<span>Night</span>
                                                                                </span>
                                                                            </span>
                                                                            <% } %>
                                                                                <% } %>
                                                                                    <p
                                                                                        class="text-green-600 GST hidden">
                                                                                        <%= ((bestPrice * 18) / 100) +
                                                                                            bestPrice %>&#8377; With GST
                                                                                    </p>
                                            </p>

                                            <p class="text-xl font-bold text-gray-800 break-words">
                                                <%= Listing.title %>
                                            </p>
                                            <p class="text-base text-gray-600 py-2 flex items-center">
                                                <i class="fa-solid fa-map-marker-alt text-red-500 mr-2"></i>
                                                <%= Listing.location %>
                                            </p>
                                            <div class="flex justify-between w-full py-1 border-t-2 border-yellow-800">
                                                <div>
                                                    <i class="fas fa-bath text-green-500 mr-2"></i>
                                                    <%= Listing.bathroom %>
                                                </div>
                                                <div>
                                                    <i class="fas fa-bed text-purple-500 mr-2"></i>
                                                    <%= Listing.bed %>
                                                </div>
                                                <div>
                                                    <i class="fas fa-square text-blue-500 mr-2"></i>
                                                    <%= Listing.areaHousewidth %>X<%= Listing.areaHouseheight %>
                                                </div>
                                            </div>
                                    </div>
                                </a>
                                <% } %>
                        </div>
                    </div>

                    <!-- Company Details -->
                    <div class="flex flex-col text-wrap bg-gray-100 justify-start  px-4 py-8">
                        <div class="text-3xl justify-start font-bold mb-2 px-3">
                            <h3>Start Your Real Estate Journey Today</h3>
                        </div>
                        <div class="text-xl font-Poppins mb-2 w-full text-gray-400 px-3">
                            <p>Your dream property is just a click away. Whether you're looking for a new home,
                                a strategic investment, or expert real estate advice, SatyHome is here to assist
                                you every step of the way. Take the first step towards your real estate goals and
                                explore our available properties or get in touch with our team for personalized
                                assistance.
                            </p>
                        </div>
                    </div>

                    <!-- FAQs Section -->
                    <div class="bg-gray-100 py-4 px-4">
                        <div class="container mx-auto max-w-4xl">
                            <h2 class="text-3xl font-bold mb-4 text-center text-gray-800">FAQs</h2>
                            <div class="space-y-4">
                                <!-- FAQ Questions -->
                                <details class="bg-white p-3 rounded-lg shadow-md">
                                    <summary class="text-xl font-semibold text-gray-800 cursor-pointer">1. What types of
                                        properties are available?</summary>
                                    <p class="text-gray-600 mt-2">We have homes, apartments, and vacation rentals for
                                        you to choose from.</p>
                                </details>
                                <details class="bg-white p-3 rounded-lg shadow-md">
                                    <summary class="text-xl font-semibold text-gray-800 cursor-pointer">2. How can I
                                        book a property visit?</summary>
                                    <p class="text-gray-600 mt-2">You can easily book a visit through our website or by
                                        calling us.</p>
                                </details>
                                <details class="bg-white p-3 rounded-lg shadow-md">
                                    <summary class="text-xl font-semibold text-gray-800 cursor-pointer">3. Do you offer
                                        help with loans?</summary>
                                    <p class="text-gray-600 mt-2">Yes, we can help you connect with loan advisors to get
                                        financing.</p>
                                </details>
                                <details class="bg-white p-3 rounded-lg shadow-md">
                                    <summary class="text-xl font-semibold text-gray-800 cursor-pointer">4. How do I
                                        apply to rent a property?</summary>
                                    <p class="text-gray-600 mt-2">Just fill out the simple application form on our
                                        website.</p>
                                </details>
                                <details class="bg-white p-3 rounded-lg shadow-md">
                                    <summary class="text-xl font-semibold text-gray-800 cursor-pointer">5. Can I list my
                                        property for sale here?</summary>
                                    <p class="text-gray-600 mt-2">Yes, you can contact us to add your property to our
                                        listings.</p>
                                </details>
                            </div>
                        </div>
                    </div>

                    <!-- Navigation Function -->
                    <script src="/javascripts/category.js"></script>
                    <script src="/javascripts/category_new_data.js"></script>