<%- layout("/layout/biolerplate.ejs") %>


    <div id="cardmain" class="bg-gray-100 flex flex-wrap gap-4 p-3  scroll-smooth px-3 py-4">
        <div class="flex flex-wrap h-full justify-center gap-4">
            <% for (const Listing of data) { %>
                <a href="/listings/<%= Listing._id %>" class="block rounded-lg shadow-lg overflow-hidden"
                    style="height: 26.1rem; width: 21rem;">
                    <div class="relative">
                        <img src="<%= Listing.image.Url %>" class="w-full  object-cover" loading="lazy" alt="image"
                            style="height:17rem ;">
                        <!-- Indicator for Sell -->
                        <% if (Listing.typeofhouse=="sell" ) { %>
                            <p class="absolute top-2 right-2 bg-red-600 text-white px-2 py-1 rounded">
                                Sell</p>
                            <% } %>
                    </div>
                    <div class="p-1 px-2 py-2 bg-zinc-200 h-full w-full">
                        <!-- Price Calculation -->
                        <% let bestPrice; if (Listing.price> 2000) {
                            bestPrice = Listing.price - 2000;
                            } else {
                            bestPrice = Listing.price - 100;
                            } %>
                            <p class="text-black text-xl font-bold mb-1">
                                <!-- Listing Type -->
                                <% if (Listing.typeofhouse=="sell" ) { %>
                                    <%= Listing.price %>
                                        <% } else { %>
                                            <% if (currentUsser && currentUsser.discountCode &&
                                                !currentUsser.discountUsed) { %>
                                                <%= Math.trunc((Listing.price / 2)) %>&#8377;
                                                    <span class="text-sm text-gray-500 inline-block"
                                                        style="margin: -8px;">/Night</span>
                                                    <% } else { %>
                                                        <%= bestPrice %>&#8377;
                                                            <span class="text-sm text-gray-500 inline-block"
                                                                style="margin: -7px;">/Night</span>
                                                            <span
                                                                class="text-gray-500 items-end px-10 line-through text-lg font-normal justify-end inline-block">
                                                                <span>
                                                                    <%= Listing.price %>
                                                                        &#8377;<span>Night</span>
                                                                </span>
                                                            </span>
                                                            <% } %>
                                                                <% } %>
                                                                    <p class="text-green-600 GST hidden">
                                                                        <%= ((bestPrice * 18) / 100) + bestPrice %>
                                                                            &#8377;
                                                                            With GST
                                                                    </p>
                            </p>

                            <p class="text-xl font-bold text-gray-800 break-words">
                                <%= Listing.title %>
                            </p>
                            <p class="text-base text-gray-600 py-2 flex items-center">
                                <i class="fa-solid fa-map-marker-alt text-red-500 mr-2"></i>
                                <%= Listing.location %>
                            </p>
                            <div class="flex justify-between w-full py-1 border-t-2 border-yellow-800">
                                <div>
                                    <i class="fas fa-bath text-green-500 mr-2"></i>
                                    <%= Listing.bathroom %>
                                </div>
                                <div>
                                    <i class="fas fa-bed text-purple-500 mr-2"></i>
                                    <%= Listing.bed %>
                                </div>
                                <div>
                                    <i class="fas fa-square text-blue-500 mr-2"></i>
                                    <%= Listing.areaHousewidth %>X<%= Listing.areaHouseheight %>
                                </div>
                            </div>
                    </div>
                </a>
                <% } %>
        </div>
    </div>