<% layout("/layout/biolerplate.ejs") -%>
  <link rel="stylesheet" href="/stylesheets/show.css">

  <body>
    <% if (success && success.length>0) { %>
      <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        <%= success %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>

        <h2 class="text-3xl font-bold text-center mt-4 mb-4">
          <%= listing_info.title %>
        </h2>

        <div class="w-full">
          <div class="card information_showing_your_house">

            <!-- If the image is an external URL -->
            <img src="<%= listing_info.image.Url %>" loading="lazy" class="w-full h-64 object-cover"
              alt="Listing Image" />

            <div class="card-body col-12">
              <span class="owner-info">Owner By: <%= listing_info.owner.username %></span>
              <p class="description"><strong>Description:</strong>
                <%= listing_info.description %>
              </p>

              <p class="price-location"><strong>Price:</strong>
                <% if (currentUsser && currentUsser.discountCode && !currentUsser.discountUsed) { %>
                  <%= (listing_info.price) / 2 %><span>&#8377;</span>
                    <span>You get 50% off on </span>
                    <% } %>
                      <%= listing_info.price %><span>&#8377;</span>
              </p>

              <p class="price-location"><strong>Location:</strong>
                <%= listing_info.location %>
              </p>
              <p class="price-location"><strong>Country:</strong>
                <%= listing_info.country %>
              </p>

              <!-- Booking and Selling Section -->
              <div
                class="flex justify-between items-center mt-4 mb-4 p-4 border-t border-gray-200 bg-gray-50 rounded-lg">
                <% if (listing_info.typeofhouse=="rent" ) { %>
                  <div class="flex">
                    <a href="/listings/<%= listing_info._id %>/payment">
                      <button
                        class="bg-blue-600 text-white justify-end py-2 px-4 rounded hover:bg-blue-700 transition duration-200">
                        Book Now
                      </button>
                    </a>
                  </div>
                  <% } else { %>
                    <div class="flex-1">
                      <p class="font-semibold text-lg">Contact the owner for this house for sale:</p>
                    </div>
                    <div class="flex-none">
                      <button id="ower_contact" class="bg-red-600 text-white py-2 px-4 rounded">Contact</button>
                    </div>
                    <% } %>
              </div>

              <% if (currentUser) { %>
                <div id="contactModal"
                  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
                  <div class="bg-white p-4 rounded shadow max-w-sm w-full">
                    <span id="closeModal" class="text-right cursor-pointer text-red-600">&times;</span>
                    <h2 class="text-xl font-bold mb-4">Contact the Owner</h2>
                    <form id="contactForm" action="">
                      <input type="text" name="name" placeholder="Your Name" required
                        class="w-full mb-3 p-2 border rounded" />
                      <input type="email" name="email" placeholder="Your Email" required
                        class="w-full mb-3 p-2 border rounded" />
                      <textarea name="message" placeholder="Message" required
                        class="w-full mb-3 p-2 border rounded"></textarea>
                      <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded">Send</button>
                    </form>
                  </div>
                </div>
                <% } %>

                  <% if (currentUser && currentUser._id.equals(listing_info.owner._id)) { %>
                    <div class="button_edit_delete">
                      <button id="edit-button" class="btn btn-primary edit"
                        data-listing-id="<%= listing_info._id %>">Edit</button>
                      <button id="delete-button" class="btn btn-danger delete ms-2"
                        data-listing-id="<%= listing_info._id %>">Delete</button>
                      <button id="report_of_listing" class="bg-green-400 p-2 rounded-lg"
                        data-listing-report="<%= listing_info._id %>">Report</button>
                    </div>
                    <% } %>

                      <!-- Review Form -->
                      <div class="review-form">
                        <h4>Give Review</h4>
                        <form action="/listings/<%= listing_info._id %>/reviews" method="post">
                          <div class="star-rating">
                            <input type="radio" id="star5" name="Rating" value="5"><label for="star5">&#9733;</label>
                            <input type="radio" id="star4" name="Rating" value="4"><label for="star4">&#9733;</label>
                            <input type="radio" id="star3" name="Rating" value="3"><label for="star3">&#9733;</label>
                            <input type="radio" id="star2" name="Rating" value="2"><label for="star2">&#9733;</label>
                            <input type="radio" id="star1" name="Rating" value="1"><label for="star1">&#9733;</label>
                          </div>
                          <div class="mb-3">
                            <textarea class="form-control review-comment" placeholder="Write your review here"
                              name="Comment" id="comment" cols="20" rows="6"></textarea>
                          </div>
                          <button type="submit" class="btn btn-outline-info btn-review">Submit Review</button>
                        </form>
                      </div>

                      <% if (listing_info.Reviews.length> 0) { %>
                        <hr class="all-reviews">
                        <h3>All Reviews</h3>
                        <% } %>

                          <!-- Reviews -->
                          <div class="container comment-container">
                            <% for (let review of listing_info.Reviews) { %>
                              <div class="card col-12 mb-4 review-card">
                                <div class="card-body">
                                  <p class="review-author">@<%= review.author.username %>
                                  </p>
                                  <p class="review-rating">
                                    <% for (let i=0; i < review.Rating; i++) { %>
                                      <span class="fa fa-star checked"></span>
                                      <% } %>
                                  </p>
                                  <p class="review-comment">
                                    <%= review.comment %>
                                  </p>
                                  <% if (currentUser && currentUser._id.equals(review.author._id)) { %>
                                    <button class="delete-review btn btn-sm btn-dark"
                                      data-listing-id="<%= listing_info._id %>"
                                      data-review-id="<%= review._id %>">Delete</button>
                                    <% } %>
                                </div>
                              </div>
                              <% } %>
                          </div>

            </div>
          </div>
        </div>


        <!-- map -->
        <div class="justify-end m-2 p-3 border-b-2" id="main_map">
          <div class="w-30" id="map" style="height: 300px;"></div>
        </div>



        <script src="/javascripts/editbutton.js" async></script>
        <script src="/javascripts/delete.js" async></script>
        <script src="/javascripts/delete_review_api.js" async></script>
        <script src="/javascripts/modalScript_contactowner.js" async>
        </script>

        <!-- map locations code  -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>;
        <script>
          function geocodeLocation(locationName, callback) {
            const nominatimUrl = new URL("https://nominatim.openstreetmap.org/search");
            nominatimUrl.searchParams.set("q", locationName);
            nominatimUrl.searchParams.set("format", "json");
            nominatimUrl.searchParams.set("limit", 1);

            fetch(nominatimUrl)
              .then((response) => response.json())
              .then((data) => {
                if (data.length > 0) {
                  const coordinates = [parseFloat(data[0].lat), parseFloat(data[0].lon)];
                  callback(null, coordinates);
                } else {
                  callback("Location not found.", null);
                }
              })
              .catch((error) => {
                callback(error, null);
              });
          }

          try {
            var map = L.map("map").setView([0, 0], 2);

            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
              attribution: "ajit waman",
            }).addTo(map);

            // Assuming listing_info.location is a string containing the location name
            const locationName = "<%= listing_info.location %>";

            geocodeLocation(locationName, (error, coordinates) => {
              if (error) {
                console.error("Error:", error);
                document.getElementById("map").innerHTML =
                  "<p>Unable to display map location.</p>";
              } else {
                map.setView(coordinates, 13);

                L.marker(coordinates)
                  .addTo(map)
                  .bindPopup("<%= listing_info.location %>")
                  .openPopup();
              }
            });
          } catch (error) {
            console.error("Error:", error);
            document.getElementById("map").innerHTML =
              "<p>Unable to display map location.</p>";

          }
        </script>





  </body>